/* Set background color for the entire website */
body {
    background-color: #f0f0f0;
}

.logo {
    width: 30%;
}

/* Styling for H1 (main heading) */
h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    color: #0e0c38; /* Changed to white */
    margin-bottom: 1rem;
    align-items: center;
    text-align: center
}

/* Styling for P (paragraph) */
p {
    font-family: Georgia, serif;
    font-size: 1rem;
    line-height: 1.6;
    color:#0e0c38; /* Changed to white */
    margin-bottom: 1rem;
    align-items: center;
    text-align: center
}

.flex-container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 10vh;
    margin-bottom: 300px;
    margin-left: auto;
    margin-right: auto;
}

.flex-container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 50vh;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.image-main {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        text-align: center;
      }
