/* kjtauzlqobizgnmvghfhosahochsjcgctfwl */
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 400;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/af350ebbe9bf91d259e1794eff5c533c.ttf") format('truetype');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 400;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/4a70928c93709647d4c8e41d2fb0a28e.eot") format('eot');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 400;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/1ce57c4c67dd2a3d03f8c99223070b7d.woff") format('woff');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 400;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/287c7657a668c261b11a2e981577e79b.woff2") format('woff2');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 500;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/e7873086948ce872f7547df0d84b522a.ttf") format('truetype');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 500;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/4d1a0e266fe238c6346dd3a0507b42c1.eot") format('eot');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 500;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/606173be82d026e1225693397233c036.woff") format('woff');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 500;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/5220863ee1e64f958037c55cbf2dedcf.woff2") format('woff2');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 600;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/6833274b3c745d5b2c9fb19fd5be58f7.ttf") format('truetype');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 600;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/5aa0a23fb534b6f4dcb986a27c8a455f.eot") format('eot');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 600;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/919e264f1dfbdcbfd90749a41fbb5760.woff") format('woff');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 600;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/968cfa2a253594496bb4608600405a34.woff2") format('woff2');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 700;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/0d99a0c583b741a8c3923701e975287b.ttf") format('truetype');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 700;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/10b07c6b8a3b4aa706dfa396b93914b0.eot") format('eot');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 700;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/685b7aa5690b8f477c28a7778b44093a.woff") format('woff');
}
@font-face {
font-family: 'kjtauzlqobizgnmvghfhosahochsjcgctfwl';
font-style: normal;
font-weight: 700;
src: local('kjtauzlqobizgnmvghfhosahochsjcgctfwl'), url("https://b-cloud.b-cdn.net/uploads/media/a7d1c8a12c1c6e8701b2d685a5d42ea2.woff2") format('woff2');
}
